<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">

        <h1>Hola {{texto}} </h1>
        {{productos}}
<hr>
        <input type="text" v-model="nuevoProducto" @keyup.enter="agregarProducto">
        <button @click="agregarProducto">Agregar</button>

    <p>{{nuevoProducto}}</p>
    <p>{{voltearTexto}}</p>

        <ul>
            <li v-for="producto in productos">
                <input type="number" v-model.number="producto.cantidad">
                {{producto.nombre}} - {{producto.cantidad }} 
                <button @click="producto.cantidad++">+</button>
                <span v-if="producto.cantidad===0"> - Sin stock</span>
                <span v-if="producto.estatus===true"> - Activo</span>
                <span v-else>Inactivo</span>
            </li>
        </ul>
        <h1>Total: {{sumarCantidad}} </h1>


    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script1.js"></script>
</body>
</html>